@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400&family=Goudy+Bookletter+1911&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.flex {
    display: flex;
}

.gentium {
    font-family: 'Gentium Book Basic', serif;
}

.goudy {
    font-family: 'Goudy Bookletter 1911', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    aspect-ratio: 1;
}

header h1 {
    font-weight: 700;
}

header button {
    width: fit-content;
    height: fit-content;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

main {
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin-bottom: 100px;
}

main>*:first-child {
    font-weight: 700;

    margin-bottom: 20px;
}

.search-container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: none;

    border-radius: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    padding: 30px 20px;
    margin-bottom: 30px;
}

.search-container h3 {
    font-weight: 700;

    margin-bottom: 20px;
}

.search-container button {
    position: absolute;
    top: 30px;
    right: 20px;
    width: fit-content;
    height: fit-content;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.search-container button .close {
    width: 20px;
    height: 20px;
}

.search-container input {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 15px;
    padding: 0 15px;

    backdrop-filter: blur(40px);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

@media (max-width: 35em) {
    header {
        padding: 20px;
        margin-bottom: 8vw;
    }

    header img {
        width: 35px;
    }

    header h1 {
        font-size: 32px;
    }

    header button .search {
        width: 25px;
        height: 25px;
    }

    main {
        padding-inline: 20px;
    }

    main>*:first-child {
        font-size: 26px;
    }

    .search-container h3 {
        font-size: 20px;
    }

    .search-container input {
        height: 40px;

        font-size: 14px;

        border-radius: 10px;
    }
}

@media (min-width: 35em) and (max-width: 45em) {
    header {
        padding: 25px 35px;
        margin-bottom: 7vw;
    }

    header img {
        width: 40px;
    }

    header h1 {
        font-size: 36px;
    }

    header button .search {
        width: 30px;
        height: 30px;
    }

    main {
        padding-inline: 30px;
    }

    main>*:first-child {
        font-size: 30px;
    }

    .search-container h3 {
        font-size: 24px;
    }

    .search-container input {
        font-size: 16px;
    }
}

@media (min-width: 45em) {
    header {
        display: grid;
        justify-content: flex-start;
        grid-template-columns: 80px 1fr 1fr;

        padding: 30px 50px;
        margin-bottom: 5vw;
    }

    header img {
        width: 50px;
    }

    header h1 {
        font-size: 40px;
    }

    header button {
        justify-self: flex-end;
    }

    header button .search {
        width: 35px;
        height: 35px;
    }

    main {
        padding-inline: 50px;
    }

    main>*:first-child {
        font-size: 40px;
    }

    .search-container h3 {
        font-size: 26px;
    }

    .search-container button .close {
        width: 25px;
        height: 25px;
    }

    .search-container input {
        font-size: 20px;
    }
}